<!-- 
footer.ejs
Project
Revision history
Sreehari Prathap, Section 6, 2023.11.24: Created  
 -->
<footer>
    <div class="logo">
        <img src="/images/fruitbae.png" alt="Logo">
      </div>
      <div class="footer-content">
        <p>
            &copy; Fruitbae Juice shop by Sreehari Prathap
        </p>
        <p>Sprathap3199@conestogac.on.ca</p>
      </div>
</footer>

  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>