<!-- 
navbar.ejs
Final Exam
Revision history
Sreehari Prathap, Section 6, 2023.12.07: Created 
 -->
 <header>
  <div class="logo">
    <img src="/images/fruitbae.png" alt="Logo">
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/order">Order</a></li>
      <li><a href="/login">Admin Panel</a></li>
    </ul>
  </nav>
</header>
<div class="gradient-ribbon"></div>
