<!-- 
home.ejs
Project
Revision history
Sreehari Prathap, Section 6, 2023.11.24: Created  
 -->
<%- include('components/header'); -%>

  <body>
    <%- include('components/navbar'); -%>
      <main class="main-wrapper">
        <section class="hero">
          <img src="/images/apples-orange-kiwi-juice-wallpaper-preview.jpg" alt="Hero" class="hero-image" />
          <div class="hero-content">
            <h1>Welcome to Fruitbae</h1>
            <p>
              In the heart of the bustling city, where the pace of life is often relentless, there exists an oasis of
              freshness and vitality – Fruit Bae. This vibrant and innovative fruit juice store has become a beloved
              destination for health enthusiasts, flavor aficionados, and those seeking a delightful escape from the
              ordinary. Fruit Bae is not just a place to quench your thirst; it's an experience that celebrates the
              essence of nature in every sip </p>

            <p>

              The menu at Fruit Bae is a symphony of flavors, boasting an extensive selection of handcrafted fruit
              juices, smoothies, and exotic blends. What sets Fruit Bae apart is its commitment to using only the
              freshest, locally sourced ingredients. The fruits are meticulously chosen for their ripeness and quality,
              ensuring that each beverage is a celebration of natural sweetness and goodness.
            </p>
            <p>

              ruit Bae isn't just a juice store; it's a social hub where like-minded individuals come together to
              celebrate the joy of healthy living. The store hosts events such as fruit tastings, nutrition workshops,
              and fitness classes, creating a sense of camaraderie among its patrons. Fruit Bae has successfully created
              a community that values wellness and embraces the simple pleasures of life. <br>
            </p>
            <p>

              In a world where fast-paced living often takes precedence, Fruit Bae stands as a testament to the power of
              simplicity and the beauty of nature's bounty. With its commitment to freshness, sustainability, and
              community, Fruit Bae has become more than just a fruit juice store – it's a lifestyle destination where
              every sip is a celebration of health, flavor, and the joy of savoring nature's essence. <br>
            </p>
          </div>
        </section>
      </main>
  </body>
  <%- include('components/footer'); -%>